@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

body {
  cursor: url(https://p7.hiclipart.com/preview/236/967/645/black-quill-pen.jpg),
    auto;
  font-family: "Libre Baskerville", serif;
}

/* NAVBAR */

.navbar {
  background-color: #f4eec0;

  background-image: url(/public/assets/gold-glitter-background.jpeg);
  border-right: 1px solid #89866f;
  width: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin-left: -7rem;
  transition: margin-left linear 0.2s;
  position: fixed;
  top: 0;
}

.navbar:hover {
  margin-left: 0;
}

.navbar svg {
  font-size: 3rem;
  margin-inline: center;
  color: black;
  margin-bottom: 0rem;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  background-color: #aed09e;
}

.logout-btn svg {
  background-color: rgb(157, 0, 0);
}

.nav-link {
  text-align: center;
  color: black;
  font-family: "Libre Baskerville", serif;
}
/* .home-link svg {
  background-color: #90d17a;
} */

/* HOME */
.home-main {
  width: 100%;
  height: 100vh;
}

.home-main h2 {
  width: fit-content;

  margin-left: 40%;
  padding: 1rem 1.5rem;
  background-color: aliceblue;
  border: 1.5px solid rgb(128, 188, 241);
  border-radius: 20px;
  z-index: 2;
  position: absolute;
  margin-top: 2rem;
}

.home-main #tsparticles {
  margin-top: 0;
}

.place-image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 57%;
  transition: all linear 0.15s;
}

.place-image:hover,
.character-image:hover {
  border-radius: 5%;
}

.character-image {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 15%;
  transition: all linear 0.15s;
}

/* BANNER */

.banner {
  text-align: center;
  padding-top: 3rem;
}

.banner h2 {
  font-size: 3rem;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.887);
  width: fit-content;
  padding: 5px;
  margin-inline: auto;
  border-radius: 10px;
}

/* STORY LINE */

.storyLine-main {
  width: 100%;
  height: 100%;
}

/* MAIN PLACES */
.main-places {
  background-image: url(https://e0.pxfuel.com/wallpapers/411/263/desktop-wallpaper-old-map-old-map-background-on-bat-steampunk-map.jpg);
  background-size: cover;
  min-height: 80vh;
}

.main-places .single-card {
  background-image: url(https://i.pinimg.com/originals/2a/72/4b/2a724b9136e2a140fea30d7aaa73a4cd.jpg);
}

/* MAIN NOTES */
/* .main-notes {
  background-image: url(https://media.freestocktextures.com/cache/59/96/599621140678945f31cea52ff69aa415.jpg);
} */

/* MAIN CHARACTERS */
.main-characters {
  background-image: url(https://media.freestocktextures.com/cache/59/96/599621140678945f31cea52ff69aa415.jpg);
}

.relationships-icon {
  position: absolute;
  bottom: 15%;
  right: 5%;
  font-size: 4rem;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

.addRelationshipButton {
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: antiquewhite;
}

.delete-relationship {
  border: none;
  background-color: transparent;
}

/* COMMON CSS MAIN */
.main-section {
  width: 80%;
  background-size: contain;
  margin-inline: auto;
  border-top-right-radius: 10px;
  background-repeat: repeat-y;
  font-family: "Pinyon Script", cursive;
}

.main-section .single-card {
  background-color: transparent;
  background-image: url(../public/assets/old\ paper.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: none !important;
  width: 85%;
  margin-inline: auto;
  margin-top: 5rem;
  padding-top: 2rem;
  padding-right: 3rem;
  max-height: fit-content;
}

.background-table {
  background-image: url(../public/assets/gray-wooden-background-vector.png);
  background-size: contain;
  padding-top: 5rem;
  min-height: 100vh;
  min-width: 100vw;
}

/* SINGLE CARDS */
.single-card .card-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: -2rem;
}

.single-card .card-body {
  display: flex;
  margin: 2rem;
  margin-top: 0;
}

.single-card .carousel-inner {
  height: 24rem;
}

.single-card .carousel-item {
  height: 100%;
}

.single-card .card-img {
  height: 24rem;
  object-fit: contain;
}

.single-card .card-image {
  width: 23rem;
  border: 2px solid grey;
  text-align: center;
  padding: 20px;
  background-color: antiquewhite;
  box-shadow: -2px 3px 6px 3px rgba(0, 0, 0, 0.593);

  transform: rotate(-5deg) translateY(-20px);
  transition: all 0.2s linear;
  object-fit: contain;
  overflow: hidden;
  margin-left: -2rem;
}

.single-card img {
  height: 100%;
}

.single-card .card-image:hover {
  cursor: pointer;
  transform: scale(1.15);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -2px 8px 9px 1px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, -2px 8px 9px 1px rgba(0, 0, 0, 0);
}

.change-avatar-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
}

.change-avatar-input .input {
  margin-left: 15px;
  margin-top: 1rem;
}

.single-card .card-text {
  margin-top: 0;
  font-size: 1.7rem;
  height: 25rem;
  overflow: auto;
  margin-left: 3rem;
}

.edit-delete-button {
  font-size: 2rem;
  text-align: end;
  margin-right: 3rem;
  margin-top: 2rem;
  z-index: 2;
}

.edit-delete-button button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

@media screen and (max-width: 1000px) {
  .single-card .card-body {
    flex-direction: column;

    margin-inline: auto;
  }
  .single-card .card-img {
    width: 85%;
    margin-inline: auto;
  }
  .single-card .card-text {
    margin-top: 5rem;
    font-size: 1.5rem;
    margin-inline: auto;
  }
}

/* bottom right buttons */
.bottom-right-icons {
  position: fixed;
  bottom: 1rem;
  right: 10%;
  display: flex;
  z-index: 2;
  font-size: 3rem;
}

.bottom-right-icons svg {
  background-color: rgba(255, 255, 255, 0.319);
  border-radius: 50%;
  margin-left: 1rem;
  color: #43362b;
  stroke-width: 1px;
}

.bottom-right-icons button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

/* LOGIN */
.login-background {
  background-image: url(../public/assets/gold-glitter-background.jpeg);
  padding-top: 5%;
  padding-bottom: 5%;

  font-family: "Pinyon Script", cursive;
}

.LoginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  background-image: url(../public/assets/old-book.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Pinyon Script", cursive;
  margin-left: 3%;
  padding-left: 4%;
}

.LoginForm {
  background-color: #ddae2f98;
  padding: 15px;
  padding-top: 5px;
  border-radius: 8px;
  max-width: 350px;
  width: 90%;

  margin-left: 6.3%;
  margin-top: 1%;
}

@media screen and (max-width: 755px) {
  .login-background {
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  .LoginPage {
    background-image: none;
  }
}

.inputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
}

.registration-page .LoginForm {
  margin-top: -2.3rem;
}

.form-text {
  width: 100%;
}

.inputFields h2 {
  margin-bottom: -1rem;
  font-size: 2rem;
}

.form-label {
  font-weight: bold;
  color: #333;
  text-decoration: underline;
  margin-bottom: 0rem;
}

.form-control {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #f9f9f9;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  min-height: 2.5rem;
}

.button-container .main-button {
  background-color: #2a1b18;
  color: #fff;
  border: none;
}

.button-container .google-button {
  background-color: #ffffff4e;
  color: #2a1b18;
  border: 2px solid #2a1b18;
}

.AppInfo {
  text-align: center;
  margin-top: 0;
  max-width: 370px;
  width: 90%;

  margin-left: 4.5rem;
}

.AppInfo h1 {
  font-size: 3rem;
  color: #c9a43c;
  margin-bottom: 15%;
  text-shadow: 3px 2px 3px rgba(247, 247, 238, 0.2);
  border: 0.5px solid #c9a43c;
  padding: 5px 10px;
  width: fit-content;
  margin-inline: auto;
}

.info-text {
  width: 38%;
  position: absolute;
  top: 15%;
  left: 55%;
  font-size: 2.3rem;
  font-weight: bold;
  text-shadow: 0px 0px 3px #ffffff;
  text-align: center;
}

/* .AppInfo p {
  color: #cab680;
  line-height: 1.5;
  font-size: 1.2rem;
} */

/* RELATIONSHIPS */

.relationshipFlow-main {
  width: 100vw;
  height: 75vh;
}

#tsparticles {
  background-image: url("https://t4.ftcdn.net/jpg/01/01/72/17/360_F_101721700_HE5ouiYmnmHljXfxTCYrNre4JgxXN64V.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -2rem;
}

/* ADD ELEMENT MODAL */
.addNewElementModal {
  max-height: 90%;
  overflow: auto;
}
