/* NAVBAR */

.navbar {
  background-color: rgb(221, 188, 188);
  width: 6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
}

/* BANNER */

.banner {
  height: 10rem;
  width: 100%;
  background-color: rgb(80, 17, 17);
  color: white;
}

.banner h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2.5rem;
}

/* MAIN PLACES */
.main-places {
  background-image: url(https://as1.ftcdn.net/v2/jpg/00/91/50/18/1000_F_91501890_eRy2gFczgLI2mAkpbwm0vvpwIsbn6x1a.jpg);
  background-size: cover;
  min-height: 88%;
}

/* SINGLE CARDS */
.single-card {
  width: 85%;
  margin-inline: auto;
  margin-top: 5rem;
  border-radius: 1rem !important;
}

.single-card .card-title {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.single-card .card-body {
  display: flex;
  margin: 2rem;
}

.single-card .card-img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  overflow: hidden;
}

.single-card .card-text {
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 1100px) {
  .single-card .card-body {
    flex-direction: column;
  }
  .single-card .card-img {
    width: 85%;
    margin-inline: auto;
  }
}

/* bottom right buttons */
.bottom-right-icons {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  z-index: 2;
  font-size: 3rem;
}

.bottom-right-icons svg {
  background-color: white;
  border-radius: 50%;
  margin-left: 1rem;
}
