@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");

body {
  /* cursor: url("https://p7.hiclipart.com/preview/236/967/645/black-quill-pen.jpg"),
    auto; */
  font-family: "Libre Baskerville", serif;
}

/* NAVBAR */

.navbar {
  background-color: #f4eec0;
  border-right: 1px solid #89866f;
  width: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.75);
  margin-left: -7rem;
  transition: margin-left linear 0.2s;
  position: fixed;
  top: 0;
}

.navbar:hover {
  margin-left: 0;
}

.navbar svg {
  font-size: 4rem;
  margin-inline: center;
  color: black;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  background-color: #aed09e;
}

.logout-btn svg {
  background-color: rgb(157, 0, 0);
}

/* HOME */
.home-main {
  width: 100%;
  height: 100vh;
}

.home-main h2 {
  width: fit-content;

  margin-left: 37%;
  padding: 1rem 1.5rem;
  background-color: aliceblue;
  border: 1.5px solid rgb(128, 188, 241);
  border-radius: 20px;
  z-index: 2;
  position: absolute;
  margin-top: 2rem;
}

.home-main #tsparticles {
  margin-top: 0;
}

.place-image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 57%;
  transition: all linear 0.15s;
}

.place-image:hover,
.character-image:hover {
  border-radius: 5%;
}

.character-image {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 15%;
  transition: all linear 0.15s;
}

/* .scene-image {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 35%;
}

.quote {
  padding: 2rem;
  width: 16rem;
  border-radius: 50px;
  background-color: antiquewhite;
  position: absolute;
  top: 20%;
  left: 75%;
} */

/* BANNER */

.banner {
  height: 8rem;
  width: 100%;
  background-color: #7e6752;
  color: #f4eec0;
  border-bottom: 1px solid #3e3226;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.banner h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2.5rem;
}

/* STORY LINE */

.storyLine-main {
  width: 100%;
  height: 100%;
}

/* MAIN PLACES */
.main-places {
  background-image: url(https://as1.ftcdn.net/v2/jpg/00/91/50/18/1000_F_91501890_eRy2gFczgLI2mAkpbwm0vvpwIsbn6x1a.jpg);
  background-size: cover;
  min-height: 100vh;
}

.main-places .single-card {
  background-color: #f4eec0b1;
  border-bottom: 3px solid #86847f;
  border-left: 3px solid #86847f;
  border-top: 1px solid #ffffffb1;
  border-right: 1px solid #ffffffb1;
}

/* MAIN CHARACTERS */
.main-characters {
  background-image: url(https://images.unsplash.com/photo-1506968430777-bf7784a87f23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29vZCUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-size: contain;
  min-height: 88%;
}

.main-characters .single-card {
  background-color: #f4eec0b1;
  border-bottom: 3px solid #86847f;
  border-left: 3px solid #86847f;
  border-top: 1px solid #ffffffb1;
  border-right: 1px solid #ffffffb1;
}

.relationships-icon {
  position: absolute;
  bottom: 15%;
  right: 5%;
  font-size: 4rem;
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

.addRelationshipButton {
  margin-left: 1rem;
  margin-top: 1rem;
  background-color: antiquewhite;
}

/* SINGLE CARDS */
.single-card {
  width: 85%;
  margin-inline: auto;
  margin-top: 5rem;
  border-radius: 10px !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.single-card .card-title {
  text-align: center;
  font-size: 2.2rem;
  margin-top: -3.5rem;
  margin-bottom: 2rem;
}

.single-card .card-body {
  display: flex;
  margin: 2rem;
  margin-top: 0;
}

.single-card .carousel-inner {
  height: 24rem;
}

.single-card .carousel-item {
  height: 100%;
}

.single-card .card-img {
  height: 24rem;
  object-fit: contain;
}

.single-card .card-image {
  width: 23rem;
  border: 2px solid grey;
  text-align: center;
  padding: 20px;
  background-color: antiquewhite;
  margin-right: 2rem;
  box-shadow: -2px 3px 6px 3px rgba(0, 0, 0, 0.42);

  transform: rotate(-5deg) translateY(-20px);
  transition: all 0.2s linear;
  object-fit: contain;
  overflow: hidden;
  margin: 15px;
}

.single-card img {
  height: 100%;
}

.single-card .card-image:hover {
  cursor: pointer;
  transform: scale(1.15);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -2px 8px 9px 1px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, -2px 8px 9px 1px rgba(0, 0, 0, 0);
}

.change-avatar-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
}

.change-avatar-input .input {
  margin-left: 15px;
  margin-top: 1rem;
}

.single-card .card-text {
  margin-top: 0;
  font-size: 1.2rem;
  height: 25rem;
  overflow: auto;
}

.edit-delete-button {
  font-size: 2rem;
  text-align: end;
  margin-right: 1rem;
  margin-top: 1rem;
  z-index: 2;
}

.edit-delete-button button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

@media screen and (max-width: 1100px) {
  .single-card .card-body {
    flex-direction: column;
  }
  .single-card .card-img {
    width: 85%;
    margin-inline: auto;
  }
}

/* bottom right buttons */
.bottom-right-icons {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  z-index: 2;
  font-size: 3rem;
}

.bottom-right-icons svg {
  background-color: rgba(255, 255, 255, 0.319);
  border-radius: 50%;
  margin-left: 1rem;
  color: #43362b;
  stroke-width: 1px;
}

.bottom-right-icons button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

/* LOGIN */
/* Login.css */
.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://media.istockphoto.com/id/647809752/photo/old-books-with-vintage-bindings-and-beautiful-gilded-leather-book-covers.jpg?s=612x612&w=0&k=20&c=qAhVsNoHq3Lt1rlNJJmbK24OkTfSq2xx-zI7cBMR1zo=");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Pinyon Script", cursive;
  background-color: rgb(234, 224, 194);
}

.LoginForm {
  background-color: #ddae2f98;
  padding: 15px;
  padding-top: 5px;
  border-radius: 8px;
  max-width: 350px;
  width: 90%;

  margin-left: 3.5rem;
  margin-top: -0.5rem;
}

@media screen and (max-width: 755px) {
  .LoginPage {
    background-size: cover;
  }
}

@media screen and (max-width: 500px) {
  .LoginPage {
    background-image: none;
  }
}

.inputFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
}

.form-text {
  width: 100%;
}

.inputFields h2 {
  margin-bottom: -1rem;
  font-size: 2rem;
  font-family: "Pinyon Script", cursive;
}

.form-basic-email,
.form-basic-password {
  position: relative;
}

.form-basic-email::before,
.form-basic-password::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #777;
}

.form-label {
  font-weight: bold;
  color: #333;
}

.form-control {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #f9f9f9;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 2.5rem;
}

.button-container .main-button {
  background-color: #2a1b18;
  color: #fff;
  border: none;
}

.button-container .google-button {
  background-color: #ffffff4e;
  color: #2a1b18;
  border: 2px solid #2a1b18;
}

.button-primary,
.button-outline-primary {
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-primary:hover,
.button-outline-primary:hover {
  background-color: #993399;
  color: #fff;
}

.AppInfo {
  text-align: center;
  margin-top: -2rem;
  max-width: 370px;
  width: 90%;

  margin-left: 4.5rem;
}

.AppInfo h1 {
  font-size: 28px;
  color: #c9a43c;
  margin-bottom: 5px;
}

.AppInfo p {
  color: #cab680;
  line-height: 1.5;
  font-size: 1.2rem;
}

/* RELATIONSHIPS */

.relationshipFlow-main {
  width: 100vw;
  height: 75vh;
}

#tsparticles {
  background-image: url("https://t4.ftcdn.net/jpg/01/01/72/17/360_F_101721700_HE5ouiYmnmHljXfxTCYrNre4JgxXN64V.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -2rem;
}
